{% macro hero(title, text) %}
    {% include 'uicomponents/hero.njk' %}
{% endmacro %}

{% macro textimage(title, text, image_src, image_alt) %}
    {% include 'uicomponents/textimage.njk' %}
{% endmacro %}