{% macro hero(title, text) %}
    {% include 'components/hero.njk' %}
{% endmacro %}

{% macro textimage(title, text, image_src, image_alt) %}
    {% include 'components/textimage.njk' %}
{% endmacro %}