<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.min.css" />
    
    <title>{% if title %}{{ title }} | {% endif %}{{ globals.websitename }}</title>
</head>
<body>
    {% block header %}
        <header id="header" class="c-header">
            <div class="l-container c-header__inner">
                <div class="c-header__left">
                    {% include 'layouts/base/navMain.njk' %}
                </div>
                <div class="c-header__right">
                    
                </div>
            </div>
        </header>
    {% endblock %}

    <main id="main">
        {% block main %}{% endblock %}
    </main>

    {% block footer %}
        <footer id="footer">
            
        </footer>
    {% endblock %}

    <script src="/assets/app.min.js"></script>
</body>
</html>