<nav id="footer-nav" uk-navbar class="uk-navbar-container">
    <ul class="uk-navbar-nav">
        {% for name, url in globals.socials %}
            <li class="">
                <a href="{{ url }}">{{ name }}</a>
            </li>
        {% endfor %}
        
        <li class="">
            <a href="/terms/">Terms</a>
        </li>
        <li class="">
            <a href="/privacy/">Privacy</a>
        </li>
    </ul>
</nav>