{% set navMain = navMain[lang] if lang else navMain['en'] %}

<nav id="main-nav" class="c-nav-main">
    <ul>
        {% for item in navMain %}
        <li class="">
            <a href="{{ item.url }}" class="{{ item.class }}">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>