<nav id="main-secondary" uk-navbar class="c-nav-secondary">
    <ul>
        
        <li class="">
            <a href="#">Text Size</a>
        </li>
        <li class="">
            <a href="{{ globals.frUrl }}">{{ globals.frLabel }}</a>
        </li>
    </ul>
</nav>