<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css" />
    <title>Document</title>
</head>
<body>
    {% block header %}
        <header id="header">
            {% include 'layouts/navMain.njk' %}
        </header>
    {% endblock %}

    <main id="main">
    {% block main %}
        This is the main content of the page
    {% endblock %}
    </main>

    {% block footer %}
        <footer id="footer">
            FOOTER HERE
        </footer>
    {% endblock %}

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit-icons.min.js"></script>
</body>
</html>