{% extends "layouts/base.njk" %}
{% from 'lib/macros.njk' import hero, textimage %}

{% block main %}
    <h2>Data from collection</h2>
    {% for section in collections.homesections %}
        {% if section.data.clayout == 'hero' %}
            {{ hero(
                section.data.title,
                section.data.text)
            }}
        {% elif section.data.clayout == 'textimage' %}
            {{ textimage(
                section.data.title,
                section.data.text,
                section.data.image_src,
                section.data.image_alt)
            }}
        {% endif %}
    {% endfor %}


    {#
    <h2>Data from front matter</h2>
    {{ hero (
        sections.hero.title,
        sections.hero.text
    )}}

    {{ textimage(
        sections.textimage.title,
        sections.textimage.text,
        sections.textimage.image_src,
        sections.textimage.image_alt
    )}}

    {{ hero(
        sections.hero2.title,
        sections.hero2.text
    )}}
    #}
{% endblock %}