{% extends "layouts/base/base.njk" %}

{% block main %}
    {% for section in collections.indexFrSections | sortCollectionByFilename %}
        {% include 'lib/flexiblepageloop.njk' %}
    {% endfor %}
{% endblock %}