/*
    Spacing mixins: margins
*/
@mixin my($val) {
    margin-top: $val;
    margin-bottom: $val;
}

@mixin mx($val) {
    margin-left: $val;
    margin-right: $val;
}



/*
    Spacing mixins: paddings
*/
@mixin py($val) {
    padding-top: $val;
    padding-bottom: $val;
}

@mixin px($val) {
    padding-left: $val;
    padding-right: $val;
}
