.c-hero {
    @include bg-image();
    background-color: $color_white;
    @include py($space_4xl);
    position: relative;

    @include mq(md) {
        height: 100vh;
        min-height: 600px;
        @include py(0);
        display: flex;
        align-items: center;
    }



    &__bg {
        @include abs-fill();
        @include bg-image();
        z-index: $zindex_10;
        &:after {
            content: '';
            @include abs-fill();
            background: rgba($color_black0, 0.5);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.95) 100%);
        }
    }



    &__content {
        width: 100%;
        position: relative;
        z-index: $zindex_100;
        text-shadow: 2px 2px 5px $color_black0;
    }



    &__content-inner {
        @include grid-cell(2, 4);
    }


    &__title {
        @include fs1();
        margin: 0px;
        color: $color_white;
    }
    
    
    
    &__subtitle {
        @include fs4();
        margin: 0px;
        color: $color_white;
    }
}