.c-nav-main {
    ul {
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 0px;

        li {
            @include px($space_m);
            
            a {
                text-decoration: none;
                color: $color_white;
                &:not(.c-button) {
                    @include link-decoration();
                }
            }

            &:first-child {
                padding-left: 0px;
            }
        }
    }
}