.u-list--coloured {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
        position: relative;
        padding-left: $space_s;
        border-left: 5px solid $color_red;
        margin-bottom: $space_l;
    }
}