<section class="c-textimage c-textimage--i{{imageside}}" id="{{ id }}">
    <div class="l-grid--super">
        <div class="c-textimage__content">
            <h2 style="color: white;">{{ title }}</h2>
            <div class="c-textimage__text">{{ text }}</div>
        </div>
        <div class="c-textimage__image">
            <img src="{{ image_src }}" alt="{{ image_alt }}" width="640" height="480">
        </div>
    </div>
</section>